forStat1.txt
Notes.txt
out1.txt
out2.txt
main.cpp.bak
LR3_052-081.pdf
FAQ for stage 1.doc
FAQ for stage 2.doc
Diagram 1.0.drawio
compiled_labwork.vcxproj.user
compiled_labwork.vcxproj.filters
compiled_labwork.vcxproj
.vs/
Debug/
x64/